﻿.fizz {
    color: blue;
}

.wizz {
    color: blue;
}

.buzz {
    color: green;
}

.wuzz {
    color: green;
}
.input-validation-error
{
    background: bisque !important;
    border: 1px solid red; 
}